* {
    box-sizing: border-box;
    /*margin: 0 auto;*/
  }

.loginPage {
  display: flex;
  /*margin: 0 auto;
  text-align: center;
  vertical-align: middle;*/
  position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 47%;
    margin: auto;
    margin-top: 70px;
}

.loginPage img {
  margin-right: 5px
  /*flex-grow: 1;*/
}

.loginForm {
  border: 1px solid black;
  flex: 1;
  margin: 10px;
  width: 160px;
  height: 450px;
  justify-content: space-around;
  text-align: center;
  margin-right:5px;
}

.loginForm a {
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  margin-top: 25px;
  display: block;
  color: black;
  /*margin-left: 5px;
  margin-right: 5px;*/
}

input {
  margin: 10px;
  width: 90%;
}

button {
  margin: 15px;
  padding: 8px 12px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}
