.login {
  display: flex;
  /*width: 100%;*/
  /*justify-content: center;*/
  /*flex-direction: row;*/
  flex-wrap:  nowrap;
  background-color: gray;
}

.showcase {
  flex: 1;
  flex-direction: row;
}

.form {
  flex: 1;
  flex-direction: row;
}