* {
    box-sizing: border-box;
    /*margin: 0 auto;*/
  }

li {
  list-style: none;
}
.restartMsg {
  position: fixed;
width: 500px;
height: 200px;
top: 50%;
left: 50%;
margin-top: -200px;
margin-left: -250px;
}

.card {
  margin: 0 auto;
  font-family: 'Eczar', serif;
  text-transform: uppercase;
  font-size: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
  vertical-align: middle;
  /*list-style: none;*/
  width: 500px;
  height: 300px;
  display: flex;
}

.container2 {
  padding: 16px;
  width: 40%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  perspective: 140px;
}

.userInput {
  margin: 0 auto;
  width: 600px;
  display: flex;
  text-align: center;
}

input {
  flex-grow: 1;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  color:#311B92;
  background-color: white;
  margin: 0 auto;
}

button.submit, button.newGame {
  padding: 8px 12px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
  display: inline;
  font-size: 16px;
}
