/*<nav className={'navbar navbar-inverse'}>
  <div className={'container-fluid heading'}>
<div className={'navbar-header'}>
  <a href={'#'}>VALEARNIAN</a>
</div>
  <ul className={'nav navbar-nav'}>
    <li className={'label label-default question'}>Question # {this.props.questionCount}</li>
    <li className={'label label-default score'}>Score: {this.props.score} {points}</li>
  </ul>
  <ul className={'nav navbar-nav navbar-right'}>
    <li><a href={'/api/auth/logout'}><span className='glyphicon glyphicon-log-out'>{'Logout'}</span></a></li>
  </ul>

</div>
</nav>*/

.heading {
  margin-top: 10px;
}

h2 {
  font-size: 18px;
  color: #DCDCDC
}
.question, .score {
  margin: 10px;
  font-size: 20px;
  color: gray;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}
.logout {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}
/*nav {
  max-width: 1200px;
  margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:last-child {
    float: right;
}

.nav {
  max-width: 1200px;
  margin: auto;
}*/

/*.navbar {
  width: 100%;
}*/

/*.navbar-left,  {
  margin-top: 0;
}

.logout, .score, .question {
  margin: 5px;
}

.score {
  margin-left: 44px!important;
}*/
