.heading {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
  color: #DCDCDC
}

.question, .score, .name, .logout {
  padding: 5px;
  margin: 10px;
  font-size: 18px;
  color: gray;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}

/*.logout {
  font-size: 18px;
  font-weight: bold;
}*/
